{% extends 'base.html.twig' %}

{% block title %}
  Tous nos produit
{% endblock %}

{% block body %}
  <section>
    <div class="container">
      <div class="header ">
              <a href="{{ path('produit.category.add') }}" class="report pending">
                  <i class='bx bx-cloud-download'></i>
                  <span>Créer une nouvelle categorie de produit</span>
              </a>
              <a href="{{ path('produit.add') }}" class="report">
                  <i class='bx bx-cloud-download'></i>
                  <span>Créer une nouvelle produit</span>
              </a>
          </div>
      <div class="body-content">
        <table class="table table-striped">
          <tr>
            <th>Nom produit</th>
            <th>Category</th>
            <th>Prix</th>
            <th class="text-center">Quantite en stock</th>
            <th>Edition</th>
          </tr>
          {% for produit in produits %}
            <tr>
              <td>
                {{ produit.name }}
              </td>
              <td>
                {{ produit.category.nom | default('') }}
              </td>
              <td>
                {% set prixActif = produit.prixVentes | filter(p => p.status == 1) | first %}

                {% if prixActif %}
                 {{ prixActif.VALEUR }} Ar
            {% else %}
                Aucun prix actif trouvé.
            {% endif %}
              </td>
              <td class="text-center">
                {{ produit.getStockProduit() }}
              </td>
              <td>
                <a href="{{ path('produit.edit', { id: produit.id }) }}" class="btn-primary btn">Modifier</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </section>
{% endblock %}
