{% extends 'base.html.twig' %}

{% block title %}
  Création d'une nouvelle vente
{% endblock %}

{% block body %}
  <section class="pt-5 pb-5">
    <div class="container">
      <div class="form-box">
        <div class="sect-title">
          <h1>Création d'une nouvelle vente</h1>
        </div>

        {% if error is defined %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form action="{{ path('vente.add') }}" method="POST" class="form-custom">
          <div class="row align-items-end">
            <div class="col-md-4 col-sm-6 col-12">
              <div class="label">Reference</div>
              <input type="text" class="form-control" name="" value="vente-{{ 'now'|date('d-m-Y-his') }}" disabled />
              <input type="hidden" class="form-control" name="reference" value="vente-{{ 'now'|date('d-m-Y-his') }}" />
            </div>
            <div class="col-md col-sm-6 col-12">
              <div class="label">Commentaire</div>
              <textarea name="commentaire" class="form-control"></textarea>
            </div>
            <div class="col-md-auto col-sm-6 col-12">
              <button type="submit" class="btn-1 mb-10" required>Enregister</button>
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-md col-12 mb-15">
              <div class="title-form" required>Liste des produits</div>
            </div>
            <div class="col-md-auto col-12 mb-15">
              <button type="button" onclick="addProduit()" class="btn-1 type-2">Ajouter un produit</button>
            </div>
          </div>
          <div class="item-produit mb-4">
            <div class="row align-items-end">
              <div class="col-md-4 col-sm-6 col-12">
                <div class="label">Choisissez un produit</div>
                <select name="produit[]" class="form-control" required>
                  {% for produit in produits %}
                    <option value="{{ produit.id }}">{{ produit.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md col-sm-6 col-12">
                <div class="label">Prix Unitaire</div>
                <input type="number" name="prixunitaire[]" class="form-control" required />
              </div>
              <div class="col-md col-sm-6 col-12">
                <div class="label">Quantité</div>
                <input type="number" name="quantity[]" class="form-control" required />
              </div>
            </div>
            <hr>
          </div> 
        </form>
      </div>
    </div>
  </section>

  <script>
    
    const addProduit = function () {
      let item = document.querySelector('.item-produit').getHTML(),
        itemLast = document.querySelectorAll('.item-produit')[document.querySelectorAll('.item-produit').length - 1];
        itemLast.insertAdjacentHTML("afterend",item);
    }
  </script>
{% endblock %}
