{% extends 'base.html.twig' %}

{% block title %}
  Toutes nos vente
{% endblock %}

{% block body %}
  <section>
    <div class="container">
          <div class="header "> 
              <a href="{{ path('vente.add') }}" class="report">
                  <i class='bx bx-cloud-download'></i>
                  <span>Créer une nouvelle vente</span>
              </a>
          </div>
        <div class="body-content">
          <table class="table table-striped">
            <tr>
              <th>Date</th>
              <th>Reference</th>
              <th>Prix de vente</th>
              <th>Commentaire</th>
              <th>Createur</th>
              <th>Edition</th>
            </tr>
            {% for vente in ventes %}
              <tr>
                <td>
                  {{ vente.createdAt.format('Y-m-d H:i:s') }}
                </td>
                <td>
                  {{ vente.reference }}
                </td>
                <td>
                  {{ vente.TotalPrixVente | number_format(0, ',', ' ') }}
                </td>
                <td>
                  {{ vente.commentaire }}
                </td> 
                <td>
                  {{ vente.user.email }}
                </td> 
                <td>
                  <a href="{{ path('vente.edit', { id: vente.id }) }}" class="btn-primary btn">Modifier</a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
    </div>
  </section>
{% endblock %}