{% extends 'base.html.twig' %}

{% block title %}
  Édition du commande 
{% endblock %}

{% block body %}
  <section class="pt-5 pb-5">
    <div class="container">
      <div class="form-user form-big">
        <div class="sect-title">
          <h1>Édition du commande</h1>
        </div>

        {% if error is defined %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        {{ form_start(form) }}
        <div class="row align-items-end">
          <div class="col-md-4 col-sm-6 co1-12 ">{{ form_row(form.produit) }}</div>
          <div class="col-md-4 col-sm-6 co1-12 ">{{ form_row(form.prixUnitaire) }}</div>
          <div class="col-md-4 col-sm-6 co1-12 ">{{ form_row(form.quantite) }}</div>
          <div class="col-md-4 col-sm-6 co1-12 ">{{ form_row(form.description) }}</div>
          <div class="col-md-4 col-sm-6 co1-12 ">{{ form_row(form.status) }}</div>
          <div class="col-md-4 col-sm-6 co1-12 ">{{ form_row(form.prixTotal ) }}</div>
          <div class="col-md-4 col-sm-6 co1-12 ">{{ form_row(form.reference) }}</div>
          <div class="col-md col-sm-6 co1-12 ">{{ form_row(form.User) }}</div>
          <div class="col-md-auto col-sm-6 co1-12 form-btn text-sm-right mb-2">{{ form_row(form.Save) }}</div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </section>
{% endblock %}
