{% extends 'base.html.twig' %}

{% block title %}
  Édition du commande
{% endblock %}

{% block body %}
  <section class="pt-5 pb-5">
    <div class="container">
      <div class="form-box">
        <div class="sect-title">
          <h1>Modification d'un nouveau commande</h1>
        </div>

        {% if error is defined %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form action="{{ path('commande.edit', {'id': commande.id}) }}" method="POST" class="form-custom">
          <div class="row align-items-end">
            <div class="col-md-4 col-sm-6 col-12">
              <div class="label">Reference</div>
              <input type="text" class="form-control" name="" value="{{ commande.reference }}" disabled  />
              <input type="hidden" class="form-control" name="reference" value="{{ commande.reference }}"  />
            </div>
            <div class="col-md col-sm-6 col-12">
              <div class="label">Description</div>
              <textarea name="description"   class="form-control"> {{ commande.description }} </textarea>
            </div>
            <div class="col-md col-sm-6 col-12">
              <div class="label">Proprio de la commande</div>
              <input type="text" disabled class="form-control" name="" value="{{ commande.user.email }}" placeholder="{{ commande.user.email }}"  />
              <input type="hidden"  class="form-control" name="user" value="{{ commande.user.id }}"    />
            </div>
            <div class="col-md-auto col-sm-6 col-12">
              <button type="submit" class="btn-1 mb-10" required>Enregister</button>
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-md-12 col-12 mb-15">
              <div class="title-form" required>Liste des produit</div>
            </div>
          </div>
          {% for commandeProduit in commandeProduits %}
            <div class="item-produit mb-4">
              <div class="row align-items-end">
                <div class="col-md-4 col-sm-6 col-12">
                  <div class="label">Nom du produit</div>
                  <input type="text" name="" disabled value="{{ commandeProduit.produit.name }}"  class="form-control" required />
                  <input type="hidden" name="produit[]" value="{{ commandeProduit.produit.id }}"  class="form-control" required />
                  <input type="hidden" name="commande[]" value="{{ commande.id }}"  class="form-control" required />
                </div>
                <div class="col-md col-sm-6 col-12">
                  <div class="label">Prix Unitaire</div>
                  <input type="number" name="" disabled value="{{ commandeProduit.prixunitaire }}"  class="form-control" required />
                  <input type="hidden" name="prixunitaire[]" value="{{ commandeProduit.prixunitaire }}"  class="form-control" required />
                </div>
                <div class="col-md col-sm-6 col-12">
                  <div class="label">Prix Réel</div>
                  <input type="number" name="prixreel[]" value="{{ commandeProduit.prixreel }}"  class="form-control"  />
                </div>
                <div class="col-md col-sm-6 col-12">
                  <div class="label">Quantité</div>
                  <input type="number" name="" disabled value="{{ commandeProduit.quantity }}"  class="form-control" required />
                  <input type="hidden" name="quantity[]" value="{{ commandeProduit.quantity }}"  class="form-control" required />
                </div>
                <div class="col-md col-sm-6 col-12">
                  <div class="label">Quantité Réel</div>
                  <input type="number" name="quantityreel[]" value="{{ commandeProduit.quantityreel }}"  class="form-control"  />
                </div>
                <div class="col-md col-sm-6 col-12">
                  <div class="label">Status</div>
                  <select name="status[]"  class="form-control status" required>
                    <option {{ commandeProduit.status == "En cours" ? "selected" : "" }} value="En cours">En cours</option>
                    <option {{ commandeProduit.status == "En attente" ? "selected" : "" }} value="En attente">En attente</option>
                    <option {{ commandeProduit.status == "Validée" ? "selected" : "" }} value="Validée">Validée</option>
                    <option {{ commandeProduit.status == "Livrée" ? "selected" : "" }} value="Livrée">Livrée</option>
                    <option {{ commandeProduit.status == "Annulée" ? "selected" : "" }} value="Annulée">Annulée</option>
                  </select>
                </div>
                <div class="col-del col-12 ">
                  <button type="button" onclick="deletProduit(this)" class="btn btn-danger mb-15">
                      <i class='fa  fa-trash'></i>
                  </button>
                </div>
              </div>
              <hr />
            </div>
          {% endfor %}
            <div class="row justify-content-end">
              <div class="col-lg-4 col-sm-6 col-12 text-right">
                  <div class="label">
                    Prix Total Estimer
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                  <div class="text-form">
                    {{ commande.getTotalPrixCommande() | number_format }} Ariary
                  </div>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-lg-4 col-sm-6 col-12 text-right">
                  <div class="label">
                    Prix Total Réel
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                    <div class="text-form">
                      {{ commande.getTotalPrixReelCommande() | number_format }} Ariary
                    </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </section>

  <script>
    const deletProduit = function (e) {
      var select  = e.closest(".item-produit").querySelector("select.status");
      let newOption = document.createElement("option");
      newOption.value = "Annulée";
      newOption.text = "Annulée";

      // L'ajouter à la liste
      select.add(newOption);

      // Sélectionner la nouvelle option
      select.value = "Annulée";
      e.closest(".item-produit").setAttribute("hidden", "true");
      console.log(e.closest(".item-produit"));
    }
  </script>
{% endblock %}
