{% extends 'base.html.twig' %}

{% block title %}
  Tous nos commande
{% endblock %}

{% block body %}
  <section>
    <div class="container">
      <div class="head-content">
        <a href="{{ path('commande.add') }}" class="btn-1">Créer une nouvelle commande</a>
      </div>
      <div class="body-content">
        <table class="table table-striped">
          <tr>
            <th>Date</th>
            <th>Nom Produit</th>
            <th>Quantite</th>
            <th>Prix Unitaire</th>
            <th>Prix Total</th>
            <th>Prix Total Estimé</th>
            <th>Propriétaire</th>
            <th>Createur</th>
            <th>Description</th>
            <th>Status</th>
            <th>Edition</th>
          </tr>
          {% for commande in commandes %}
            <tr>
              <td>
                {{ commande.createdAt.format('Y-m-d H:i:s') }}
              </td>
              <td>
                {{ commande.produit.name }}
              </td>
              <td>
                {{ commande.quantite }}
              </td>
              <td>
                {{ commande.prixUnitaire }}
              </td>
              <td>
                {{ commande.prixTotal }}
              </td>
              <td>
                {{ commande.quantite * commande.prixTotal }}
              </td>
              <td>
                Proprio
              </td>
              <td>
                Creator
              </td>
              <td>
                {{ commande.description }}
              <td>
                {{ commande.status }}
              </td>
              <td>
                <a href="{{ path('commande.edit', { id: commande.id }) }}" class="btn-primary btn">Modifier</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </section>
{% endblock %}
