{% extends 'base.html.twig' %}

{% block title %}
  Tous nos commande
{% endblock %}

{% block body %}
  <section>
    <div class="container">
          <div class="header "> 
              <a href="{{ path('commande.add') }}" class="report">
                  <i class='bx bx-cloud-download'></i>
                  <span>Créer une nouvelle commande</span>
              </a>
          </div>
        <div class="body-content">
          <table class="table table-striped">
            <tr>
              <th>Date</th>
              <th>Reference</th>
              <th>Description</th>
              <th>Propriétaire</th>
              <th>Createur</th>
              <th>Status</th>
              <th>Edition</th>
            </tr>
            {% for commande in commandes %}
              <tr>
                <td>
                  {{ commande.createdAt.format('Y-m-d H:i:s') }}
                </td>
                <td>
                  {{ commande.reference }}
                </td>
                <td>
                  {{ commande.description }}
                </td> 
                <td>
                  {{ commande.user.email }}
                </td>
                <td>
                  {{ commande.createdby.email }}
                </td> 
                <td>
                </td> 
                <td>
                  <a href="{{ path('commande.edit', { id: commande.id }) }}" class="btn-primary btn">Modifier</a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
    </div>
  </section>
{% endblock %}
