{% extends 'base.html.twig' %}

{% block title %}
  Tous nos commande
{% endblock %}

{% block body %}
  <section>
    <div class="container">
          <div class="header "> 
              <a href="{{ path('commande.add') }}" class="report">
                  <i class='bx bx-cloud-download'></i>
                  <span>Créer une nouvelle commande</span>
              </a>
          </div>
        <div class="body-content">
          <table class="table table-striped">
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Createur</th>
              <th>Status</th>
              <th>Nbr Produits</th>
              <th>Prix Estimer</th>
              <th>Prix Réel</th>
              <th>Edition</th>
            </tr>
            {% for commande in commandes %}
              <tr>
                <td>
                  {{ commande.createdAt.format('Y-m-d H:i:s') }}
                </td>
                <td>
                  {{ commande.description }}
                </td> 
                <td>
                  {{ commande.createdby.name }}
                </td> 
                <td>
                  <div class="progress" data-value="" >
                  <div class="progress-bar" role="progressbar" style="width: {{ commande.getStatusPercent() }}%;" aria-valuenow="{{ commande.getStatusPercent() }}%" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-text">{{ commande.getStatusPercent() }}%</div>
                </div>
                </td> 
                <td class="text-center">
                  {{ commande.getNombreProduit() }}
                </td>
                <td class="text-center">
                  {{ commande.getTotalPrixCommande() | number_format }} Ar
                </td>
                <td class="text-center">
                  {{ commande.getTotalPrixReelCommande() | number_format }} Ar
                </td>
                <td>
                  <a href="{{ path('commande.edit', { id: commande.id }) }}" class="btn-primary btn">Modifier</a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
    </div>
  </section>
{% endblock %}
