
 <!-- Sidebar -->
 <div class="sidebar">
 <a href="{{ path('app_home') }}" class="logo">
     <i class="bx bx-code-alt"></i>
     <div class="logo-name"><span> Tsenako </div>
 </a>
 <ul class="side-menu">
     <li class="{{ app.current_route starts with 'app_home' ? 'active' : '' }}" ><a href="{{ path('app_home') }}"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
     <li class="{{ app.current_route starts with 'shop.' ? 'active' : '' }}" ><a href="{{ path('produit.index') }}"><i class='bx bx-store-alt'></i>Shop</a></li>
     <li class="{{ app.current_route starts with 'produit.' ? 'active' : '' }}" ><a href="{{ path('produit.index') }}"><i class='bx bx-analyse'></i>Produit</a></li>
     <li class="{{ app.current_route starts with 'commande.' ? 'active' : '' }}" ><a href="{{ path('commande.index') }}"><i class='bx bx-message-square-dots'></i>Commande</a></li>
     <li class="{{ app.current_route starts with 'vente.' ? 'active' : '' }}" ><a href="{{ path('vente.index') }}"><i class='bx bx-purchase-tag'></i>Vente</a></li>
     <li class="{{ app.current_route starts with 'user.' ? 'active' : '' }}" ><a href="{{ path('user.index') }}"><i class='bx bx-group'></i>Users</a></li>
 </ul>
 <ul class="side-menu">
     <li>
         <a href="{{ path('app_logout') }}" class="logout">
             <i class='bx bx-log-out-circle'></i> Logout
         </a>
     </li>
 </ul>
</div>
<!-- End of Sidebar -->